$app-yellow: #FDB526;
$app-yellow-100: #C5870E;
$app-yellow-10: #FFF8E9;
$app-red: #F32626;
$app-blue-2: #3D87F4;
$app-blue: #64A0F9;
$app-green: #1DBA81;
$app-black-30: #333333;
$app-black-60: #666666;
$app-black-40: #999999;
$app-black-20: #CCCCCC;
$app-black-10: #E6E6E6;
$app-white: #FFFFFF;
$app-bg-2: #F4F5F6;
$app-graph: #FF73B8;