.thead-yellow{
    background-color: rgba(253, 181, 38, 0.1);
}
.border-grey{
    border-bottom: 1.5px solid #f2f2f2;
}
.border-grey-dark{
    border-bottom: 1.5px solid #e6e6e6;
}
.bg-blue-sky{
    background-color: #F3F9FF;
}
.bg-grey{
    background-color: #F8F8F8;
}