.thead-yellow{
    background-color: rgba(253, 181, 38, 0.1);
}

.black80 {
   color: #333333
}
.black60 {
    color: #666666;
}
.black40 {
  color: #999999;
}
.black20 {
    color: #CCCCCC;
}
.blue2 {
    color: #3D87F4;
}
.green {
  color: #1DBA81;
}
.primary {
  color: #FDB526;
}
.meteor-primary {
  color: #C5870E;   
}
.border-grey{
  border-bottom: 1.5px solid #f2f2f2;
}
.border-grey-dark{
  border-bottom: 1.5px solid #e6e6e6;
}
.bg-blue-sky{
  background-color: #F3F9FF;
}
.bg-grey {
  background-color: #F8F8F8;
}