.cursor-pointer{
  cursor: pointer;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  margin-top: 20px;
  .label-form {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .icon-input {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}
.v-btn {
  text-transform: capitalize;
}
  
.app-box-grey{
  box-shadow: rgba(0, 0, 0, 0.07) -1px -1px 0px inset;
  background: #FBFBFB;
  .app-sub{
    font-weight: 500;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }
}
.app-box{
  box-shadow: rgba(0, 0, 0, 0.05) 0px -1px 0px inset;

  .app-sub{
    font-weight: 500;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }
}
.toggle.v-input--is-disabled.v-text-field--outline .v-input__slot {
  border-color: #eb000061;
}
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
// table
.theme--light.v-data-table thead tr:last-child th{
  background-color: rgba(253, 181, 38, 0.1);
}
.theme--light.v-data-table thead tr th {
  font-size: 14px;
  line-height: 20px;
  color: #C5870E
}
.v-application {
  .elevation-1 {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05) !important;
  }
  .primary--text{
    color: #C5870E !important;
    ceret-color: #C5870E !important;
  }
}
.v-date-picker-title__date > div {
  position: relative;
  font-size: 20px;
}