.app-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}
.app-subtitle {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.app-title-small {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.app-subtitle-small {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.text-blood{
  font-weight: 500 !important;
  font-size: 18px !important;
  font-weight: bold;
  line-height: 20px !important;
  color: #000000;
}
.text-blood-sm{
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}
.text-blood-xs{
  font-size: 12px !important;
  line-height: 20px !important;
  color: #000000;
}
.text-green{
  font-size: 12px;
  line-height: 14px;
  /* green */
  color: #1DBA81;
}
.text-red{
  font-size: 12px;
  line-height: 14px;
  /* red */
  color: #F32626;
}
.text-grey-sm{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}
.text-blue{
  font-size: 14px;
  line-height: 20px;
  color: #3D87F4;
}
.text-blue-sm{
  font-size: 12px;
  line-height: 20px;
  color: #3D87F4;
}
.text-yellow{
  font-size: 14px;
  line-height: 20px;
  color: #C5870E
}
.text-yellow-sm{
  font-size: 12px;
  line-height: 14px;
  color: #FDB526
}
.text-grey-light{
  color: #CCCCCC;
}
.text-regular{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.title-card{
  font-weight: 500;
  font-size: 22px;
}
.text-orange{
  color: #C5870E;
  font-size: 14px;
}
.text-bold-xl{
  font-weight: 500;
  font-size: 28px;

  color: #000000;
}
.text-bold{
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}
.text-grey-16{
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  opacity: 0.6;
}
.text-grey-14{
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}
.text-white{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
