.app-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}
.app-subtitle {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.app-title-small {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.app-subtitle-small {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.text-blood{
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 20px !important;
}
.text-green{
  font-size: 12px;
  line-height: 14px;
  /* green */
  color: #1DBA81;
}